*{
    margin: 0px;
    padding: 0px;
}

body
{
    background: url("../img/HTML-BACKGROUND.jpg");
    background-attachment: fixed;
}

#logo
{
    background: #13ca44;
}

#menu ul li:hover
{
    background-color: #13ca44;

}

#first-opt
{
    background-color: #13ca44;
}


.button-more
{
    background: #13ca44;
}

.button-more:hover
{
    background-color: gray;
}

#sidebar h4 span
{
    background: white;
}

form input[type="submit"]
{
    background: gray;
}

form input[type="submit"]:hover
{
    background-color: #13ca44;
}

footer
{
    background: rgba(51,51,51,0.70);
}